.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    background-color: #3CE800;
    border-radius: 0px 0px 5px 5px;
    color: #fff;
    padding: 17px 0;
    width: 100%;
    max-width: 208px;
}

.button:hover {
    background-color: #30b201;
}

.button_gradient {
    background: linear-gradient(272.94deg, #3CE800 0%, #00B1D8 100%);
    box-shadow: 0px -1px 0px 0px #0000004D inset;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 0.02em;
    padding: 25px 0;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
}

.button_gradient:hover {
    background: linear-gradient(272.94deg, #34c200 0%, #02c8f5 100%);
}

.button_transparent {
    background-color: transparent;
}

.button-gray {
    background-color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    padding: 12px 20px;
    border-radius: 5px;
    color: #fff;
}

.button-gray:hover {
    opacity: .7;
}

.triangles {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.burger_menu {
    display: none;
    background-color: transparent;
    z-index: 140;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 50px;
    height: 50px;
    padding: 13px 14px;
    flex-direction: column;
    gap: 7px;

    span {
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 1000px;
        background-color: #fff;

        transform: rotate(0deg);
        opacity: 1;
        transition: .2s;
    }
}

.burger_menu-closed {
    span:nth-child(1){
        transform: translateY(10px) rotate(45deg) !important;
    }
    span:nth-child(2){
        transform: rotate(-45deg)!important;
    }
    span:nth-child(3){
        opacity: 0 !important;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    a {
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
    }

    .link-select::before {
        position: absolute;
        z-index: 100;
        bottom: -20px;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #3CE800;
        opacity: 0;
        transition: .2s;
        opacity: 1;
    }

    .link-select {
        color: #3CE800;
    }

}


.sidebar {
    padding-top: 80px;
    position: absolute;
    z-index: 140;
    top: -500px;
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, #000000 33.81%, rgba(0, 0, 0, 0) 99.98%, rgba(0, 0, 0, 0.00800003) 99.99%, rgba(0, 0, 0, 0.0810547) 100%);

    transition: .2s;

    nav {
        align-items: start;
        flex-direction: column;
    }
}

.sidebar-open {
    top: 0;
}

header {
    position: absolute;
    width: 100%;

    .header {
        display: flex;
        flex-direction: column;
        gap: 33px;

        .upper {
            z-index: 120;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .links {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                a:hover {
                    color: #3CE800;
                }
            }

            .call {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                width: 100%;
                max-width: 394px;

                .phone {
                    a {
                        color: #fff;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                    }
                }

                .button {
                    .icon {
                        display: none;
                    }
                }
            }
        }

        .head {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .logo {
                z-index: 120;
            }

            nav{
                z-index: 120;
            }
        }
    }

    @media (max-width: 1024px) {
        nav {
            display: none !important;
        }

        .burger_menu {
            display: flex;
        }
    }

    @media (max-width: 768px) {
        .header {
            .upper {
                margin-top: 10px;

                .links {
                    a {
                        p {
                            display: none;
                        }
                    }
                }

                .call {
                    flex-direction: row-reverse;

                    .button {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        padding: 0;

                        p {
                            display: none;
                        }

                        .icon {
                            margin-top: 4px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 520px) {
        .header {
            .upper {
                .links {
                    display: none;
                }
            }
        }
    }
}

main {
    .intro {
        display: inline-block;
        background-image: url('../assets/img/intro.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 970px;

        .container {
            height: 100%;
        }

        .toner {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 970px;
            background-color: rgba(0, 0, 0, .3);
        }

        .body {
            position: relative;
            z-index: 120;
            display: flex;
            flex-direction: column;
            margin-top: 150px;
            height: calc(100% - 150px);

            h1 {
                margin-top: 190px;
                text-transform: uppercase;
                width: 100%;
                max-width: 869px;
                color: #fff;
                font-size: 60px;
                font-weight: 700;
                line-height: 70px;
                letter-spacing: 0.02em;

                b {
                    color: #3CE800;
                }
            }

            p {
                margin-top: 40px;
                width: 100%;
                max-width: 828px;
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.02em;
            }

            button {
                margin-top: 40px;
            }

            .tap-tap {
                position: absolute;
                bottom: 60px;
                left: 50%;
                transform: translateX(-50%);
                background-color: transparent;
            }
        }

        @media (max-width: 1024px) {
            .toner {
                height: 1024px !important;
            }

            .body {
                h1 {
                    margin-top: 211px !important;
                    max-width: 700px;
                    font-size: 48px;
                    line-height: 60px;
                    letter-spacing: 0.02em;
                }

                p {
                    margin-top: 20px;
                    max-width: 650px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
        }

        @media (max-width: 768px) {
            .body {
                h1 {
                    font-size: 32px;
                    line-height: 45px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 640px) {
            .toner {
                height: 768px !important;
            }
            .body {
                h1{
                    margin-top: 68px !important;
                }

                button {
                    width: 100%;
                    max-width: 100% !important;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .intro {
            height: 1024px !important;
        }
    }

    @media (max-width: 640px) {
        .intro {
            height: 768px !important;
        }
    }

    .credit {
        margin-top: 100px;

        .credit_inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;

            .left_block {
                width: 100%;
                max-width: 740px;

                h2 {
                    text-transform: uppercase;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 60px;
                    letter-spacing: 0.02em;
                    color: #3D3D3D;
                }

                form {
                    margin-top: 60px;

                    .title {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 30px;
                        letter-spacing: 0.02em;
                        color: #3D3D3D;
                    }

                    .label {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.41px;
                        letter-spacing: 0.02em;
                        color: #808080;
                    }

                    .form_inner {
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .box {
                        margin-top: 10px;
                        width: 100%;
                        max-width: 630px;
                        border: 1px solid #E5E5E5;
                        box-shadow: 1px 1px 5px 0px #00000033 inset;
                        padding: 23px 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        input {
                            background-color: transparent;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 18.75px;
                            letter-spacing: 0.02em;
                            color: #3D3D3D;
                            user-select: none;
                            border: none;
                            width: 100%;
                        }
                    }

                    .range {
                        .box {
                            position: relative;

                            input[type='range'] {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }

                            input[type="range"] {
                                -webkit-appearance: none;
                                height: 2px;
                                background: rgba(255, 255, 255, 0.6);
                                border-radius: 5px;
                                background-image: linear-gradient(#3CE800, #3CE800);
                                background-size: 100% 100%;
                                background-repeat: no-repeat;
                            }

                            input[type="range"]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                height: 20px;
                                width: 20px;
                                border-radius: 50%;
                                background: #3CE800;
                                cursor: ew-resize;
                                box-shadow: 0 0 2px 0 #555;
                                transition: background .3s ease-in-out;
                            }

                            input[type=range]::-webkit-slider-runnable-track {
                                -webkit-appearance: none;
                                box-shadow: none;
                                border: none;
                                background: transparent;
                            }
                        }
                    }
                }
            }

            .right_block {
                .block {
                    box-shadow: 0px 0px 100px 0px #0000001A;
                    width: 520px;
                    padding: 1px 0;

                    .content {
                        margin: 50px;

                        .head {
                            border-bottom: 1px solid #E5E5E5;
                            padding-bottom: 40px;

                            p {
                                text-transform: uppercase;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 30px;
                                letter-spacing: 0.02em;
                                color: #3D3D3D;
                            }
                        }

                        .body {
                            margin-top: 45px;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 30px;
                            align-items: center;
                            justify-content: center;

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 18.75px;
                                letter-spacing: 0.02em;
                                color: #3D3D3D;
                            }
                        }

                        .button_gradient {
                            margin-top: 23px;
                            max-width: 100% !important;
                        }

                        .consent_processing {
                            margin-top: 20px;

                            p {
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0.02em;
                            }

                            a {
                                color: #3CE800;
                                text-decoration: underline;
                            }
                        }
                    }



                }
            }
        }

        @media (max-width: 1270px) {
            .credit_inner {
                .left_block {
                    h2 {
                        font-size: 36px;
                    }

                    form {
                        margin-top: 40px;
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            .credit_inner {
                .right_block {
                    .block {
                        width: 380px;

                        .content {
                            .body {
                                img {
                                    width: 120px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 768px) {
            .credit {
                margin-top: 80px;
            }

            .credit_inner {
                flex-direction: column;

                .left_block {
                    max-width: 100% !important;

                    h2 {
                        width: fit-content;
                        margin: 0 auto;
                        text-align: center;
                    }

                    form {
                        width: 100%;

                        .title {
                            width: fit-content;
                            margin: 0 auto;
                        }

                        .box {
                            max-width: 100%;
                        }
                    }
                }

                .right_block {
                    .block {
                        margin-top: 60px;
                        width: 100%;
                    }
                }
            }
        }

        @media (max-width: 520px) {
            .credit_inner {
                .left_block {
                    h2 {
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
            }
        }
    }

    .advantages {
        margin-top: 80px;

        .advantages_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                text-transform: uppercase;
                width: 100%;
                max-width: 852px;
                font-size: 48px;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0.02em;
                text-align: center;
                color: #3D3D3D;

                b {
                    color: #3CE800;
                }
            }

            .list {
                margin-top: 60px;
                gap: 30px;
                justify-content: center;

                li {
                    .card {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        box-shadow: 0px 0px 100px 0px #0000001A;
                        border: 2px solid #FFFFFF;
                        border-radius: 2px;
                        padding: 40px;
                        width: 100%;
                        max-width: 400px;
                        height: 190px;

                        .body {
                            h3 {
                                color: #3D3D3D;
                                ;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 18.75px;
                                letter-spacing: 0.02em;
                            }

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 22px;
                                letter-spacing: 0.02em;
                                color: #808080;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            .advantages_inner {
                h2 {
                    max-width: 625px;
                    font-size: 36px;
                    line-height: 46px;

                }

                .list {
                    margin-top: 40px;

                    li {
                        .card {
                            padding: 30px;
                            max-width: 330px !important;
                            height: 154px;

                            .body {
                                p {
                                    margin-top: 15px;
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 768px) {
            .advantages_inner {
                h2 {
                    font-size: 34px;
                    line-height: 44px;

                }

                .list {
                    padding: 0;

                    li {
                        width: 100%;

                        .card {
                            flex-direction: column;
                            align-items: center;
                            width: 100% !important;
                            max-width: 100% !important;
                            height: 100% !important;

                            .body {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                p {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 520px) {
            .advantages_inner {
                h2 {
                    font-size: 18px;
                    line-height: 36px;
                }
            }
        }
    }

    .stage_work {
        margin-top: 80px;

        .stage_work_inner {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: #3D3D3D;
                font-size: 48px;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0.02em;
            }
        }

        .stages {
            margin-top: 60px;
            display: flex;
            flex-direction: row;

            .line {
                margin: 0 60px;
            }

            .item {
                width: 100%;
                max-width: 290px;

                .icon {
                    background-color: #F2F2F2;
                    border-radius: 1000px;
                    width: 75px;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                h4 {
                    margin-top: 23px;
                }

                h4,
                h5 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 18.75px;
                    letter-spacing: 0.02em;
                    color: #3D3D3D;

                    d {
                        color: #3CE800;
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }

                .body {
                    margin-top: 23px;
                }

                h5,
                p {
                    margin-left: 25px;
                }

                p {
                    margin-top: 5px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #808080;
                }

            }
        }

        @media (max-width: 1024px) {
            .stage_work_inner {
                h2 {
                    font-size: 48px;
                }
            }

            .stages {
                .line {
                    margin: 0 32px;
                }

                .item {
                    p {
                        font-size: 14px !important;
                        line-height: 20px;
                    }
                }
            }
        }

        @media (max-width: 650px) {
            .stage_work_inner {
                h2 {
                    font-size: 34px;
                    text-align: center;
                    line-height: 44px;
                }
            }

            .stages {
                flex-direction: column;
                justify-content: center;

                .line {
                    transform: rotate(90deg);
                    width: 5px !important;
                    height: 20px !important;
                    margin-top: 40px;
                    margin-bottom: 40px;
                    margin-left: 240px !important;
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .body {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }

                    p {
                        font-size: 14px !important;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .consultation {
        margin-top: 80px;
        background-image: url('../assets/img/illustration.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 622px;

        .consultation_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 622px;

            h2 {
                color: #fff;
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.02em;
            }

            p {
                margin-top: 10px;
                width: 100%;
                max-width: 451px;

                color: #fff;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.02em;
            }

            form {
                margin-top: 40px;
                width: 100%;
                max-width: 630px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    background-color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18.75px;
                    letter-spacing: 0.02em;
                    color: #3D3D3D;
                    padding: 23px 30px;
                    border-radius: 5px;
                    border: 1px solid #E5E5E5;
                    box-shadow: 1px 1px 5px 0px #00000033 inset;
                }

                .button_gradient {
                    max-width: 100%;
                }
            }
        }

        @media (max-width: 768px) {
            .consultation_inner {
                h2 {
                    font-size: 24px;
                }

                p {
                    margin-top: 0;
                }
            }
        }
    }

    .info {
        margin-top: 80px;

        .info_inner {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                width: 100%;
                max-width: 750px;
                font-size: 48px;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0.02em;
                color: #3D3D3D;
                text-align: center;
            }
        }

        .list {
            padding: 0;
            justify-content: center;
            margin-top: 80px;
            gap: 60px 16px;

            .item {
                width: 100%;
                max-width: 409px;
                display: flex;
                flex-direction: row;
                gap: 31px;

                .content {
                    h4 {
                        color: #FF003D;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0.02em;
                    }

                    .line {
                        width: 30px;
                        height: 3px;
                        background-color: #E5E5E5;
                        margin: 20px 0;
                    }

                    p {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                        color: #808080;
                    }
                }
            }

            .item-last {
                position: relative;
                width: 409px;
                flex-direction: column;

                .positive-text {
                    margin-left: auto;
                    width: 100%;
                    max-width: 300px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #3CE800;
                }

                .arrow {
                    position: absolute;
                    bottom: -230px;
                    left: 30px;
                }
            }
        }

        .button_gradient {
            margin-top: 60px;
            max-width: 409px;
        }

        @media (max-width: 1325px) {
            .list {
                gap: 40px 17px;

                .item-last {
                    .arrow {
                        bottom: -200px;
                        left: 60px;
                        transform: scale(.5) rotate(-20deg);
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            .info_inner {

                h2 {
                    font-size: 36px;
                    line-height: 48px;
                }
            }
        }

        @media (max-width: 915px) {
            .list {
                .item-last {
                    width: fit-content !important;

                    .arrow {
                        bottom: -70px;
                        left: -50px;
                        transform: scale(-1, 1) scale(.5) rotate(-40deg);
                    }
                }

                .positive-text {
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 640px) {
            .info_inner {

                h2 {
                    font-size: 34px;
                }

                .button_gradient {
                    max-width: 100%;
                }
            }

            .list {
                .item-last {
                    width: 100%;
                    margin-left: 40px;

                    .arrow {
                        bottom: -70px;
                        left: -100px;
                        transform: scale(-1, 1) scale(.5) rotate(-40deg);
                    }
                }
            }
        }

        @media (max-width: 450px) {
            .info_inner {
                h2 {
                    font-size: 28px;
                }
            }

            .list {
                .item {
                    flex-direction: column !important;
                    align-items: center;

                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h4,
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }

    }
}

footer {
    margin-top: 100px;
    background-color: #1B1B1B;

    .footer_inner {
        display: flex;
        flex-direction: column;

        .footer_top {
            padding: 80px 0 60px 0;
            display: flex;
            flex-direction: row;

            .descr {
                width: 100%;
                max-width: 298px;
                margin-top: 40px;
                color: #fff;
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0.02em;
            }

            .list {
                gap: 10px;
                margin: 0;
                padding: 0;
            }

            h2 {
                margin-bottom: 30px;
                text-transform: uppercase;
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0.02em;
            }

            .phone {
                color: #3CE800;
                font-size: 32px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0.02em;

            }

            .address {
                margin-top: 30px;
                color: #fff;
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0.02em;
            }

            .email {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;

                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0.02em;

                p {
                    color: #fff;
                }

                a {
                    color: #3CE800;
                    text-decoration: underline;
                }
            }

            .section {
                width: 100%;
            }

            .section:nth-child(1) {
                margin-right: 128px;
            }

            .section:nth-child(1),
            .section:nth-child(3) {
                max-width: 300px;
            }
        }

        .footer_bottom {
            box-shadow: 0px 1px 0px 0px #3D3D3D inset;
            padding: 40px 0;

            .footer_bottom_inner {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: #fff;

                .author {
                    p {
                        b {
                            color: #3CE800;
                        }
                    }
                }

                .links {
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    @media (max-width: 1240px) {
        .footer_inner {
            .footer_top {
                gap: 15px;

                h2 {
                    font-size: 16px;
                }

                .phone {
                    font-size: 24px;
                }

                .address,
                .email {
                    font-weight: 500;
                    font-size: 13px !important;
                }

                .section:nth-child(1) {
                    margin-right: 0 !important;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .footer_inner {
            .footer_top {
                gap: 40px;
                flex-direction: column;

                .section {
                    width: 100%;
                    max-width: 100% !important;
                }

                h1 {
                    margin: 0 auto;
                    width: fit-content;
                }

                .descr {
                    max-width: 100% !important;
                }
            }

            .footer_bottom {
                .footer_bottom_inner {
                    flex-direction: column;
                    gap: 20px
                }
            }
        }
    }
}