.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    background-color: #3CE800;
    border-radius: 0px 0px 5px 5px;
    color: #fff;
    padding: 17px 0;
    width: 100%;
    max-width: 208px;
}

.button:hover {
    background-color: #30b201;
}

.button_gradient {
    background: linear-gradient(272.94deg, #3CE800 0%, #00B1D8 100%);
    box-shadow: 0px -1px 0px 0px #0000004D inset;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 0.02em;
    padding: 25px 0;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
}

.button_gradient:hover {
    background: linear-gradient(272.94deg, #34c200 0%, #02c8f5 100%);
}

.button_transparent {
    background-color: transparent;
}


header {
    z-index: 10;
    position: absolute;
    width: 100%;

    .header {
        display: flex;
        flex-direction: column;
        gap: 33px;

        .upper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .links {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                a:hover {
                    color: #3CE800;
                }
            }

            .call {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                width: 100%;
                max-width: 394px;

                .phone {
                    a {
                        color: #fff;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                        word-break: none;
                    }
                }
            }
        }

        .head {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            nav {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;

                a {
                    text-transform: uppercase;
                    font-weight: 700;
                    position: relative;
                }

                a:before {
                    position: absolute;
                    z-index: 100;
                    bottom: -20px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #3CE800;
                    opacity: 0;
                    transition: .2s;
                }

                a:focus {
                    color: #3CE800;
                }

                a:focus:before {
                    opacity: 1;
                }
            }
        }
    }
}

main {
    .intro {
        background-image: url('../assets/img/intro.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;

        .toner {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, .3);
        }

        .body {
            position: relative;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;

            h1 {
                width: 100%;
                max-width: 849px;
                color: #fff;
                font-size: 60px;
                font-weight: 700;
                line-height: 70px;
                letter-spacing: 0.02em;

                b {
                    color: #3CE800;
                }
            }

            p {
                margin-top: 40px;
                width: 100%;
                max-width: 828px;
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.02em;
            }

            button {
                margin-top: 10px;
            }

            .tap-tap {
                position: absolute;
                bottom: 60px;
                left: 50%;
                transform: translateX(-50%);
                background-color: transparent;
            }
        }
    }

    .credit {
        margin-top: 100px;

        .credit_inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .left_block {
                width: 100%;
                max-width: 740px;

                h2 {
                    text-transform: uppercase;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 60px;
                    letter-spacing: 0.02em;
                    color: #3D3D3D;
                }

                form {
                    margin-top: 60px;

                    .title {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 30px;
                        letter-spacing: 0.02em;
                        color: #3D3D3D;
                    }

                    .label {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.41px;
                        letter-spacing: 0.02em;
                        color: #808080;
                    }

                    .form_inner {
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .box {
                        margin-top: 10px;
                        width: 100%;
                        max-width: 580px;
                        border: 1px solid #E5E5E5;
                        box-shadow: 1px 1px 5px 0px #00000033 inset;
                        padding: 23px 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        input {
                            background-color: transparent;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 18.75px;
                            letter-spacing: 0.02em;
                            color: #3D3D3D;
                            user-select: none;
                            border: none;
                            width: 100%;
                        }
                    }

                    .range {
                        .box {
                            position: relative;

                            input[type='range'] {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }

                            input[type="range"] {
                                -webkit-appearance: none;
                                height: 2px;
                                background: rgba(255, 255, 255, 0.6);
                                border-radius: 5px;
                                background-image: linear-gradient(#3CE800, #3CE800);
                                background-size: 100% 100%;
                                background-repeat: no-repeat;
                            }

                            input[type="range"]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                height: 20px;
                                width: 20px;
                                border-radius: 50%;
                                background: #3CE800;
                                cursor: ew-resize;
                                box-shadow: 0 0 2px 0 #555;
                                transition: background .3s ease-in-out;
                            }

                            input[type=range]::-webkit-slider-runnable-track {
                                -webkit-appearance: none;
                                box-shadow: none;
                                border: none;
                                background: transparent;
                            }
                        }
                    }
                }
            }

            .right_block {
                .block {
                    box-shadow: 0px 0px 100px 0px #0000001A;
                    width: 100%;
                    max-width: 520px;
                    padding: 1px 0;

                    .content {
                        margin: 50px;

                        .head {
                            border-bottom: 1px solid #E5E5E5;
                            padding-bottom: 40px;

                            p {
                                text-transform: uppercase;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 30px;
                                letter-spacing: 0.02em;
                                color: #3D3D3D;
                            }
                        }

                        .body {
                            margin-top: 45px;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 30px;
                            align-items: center;
                            justify-content: center;

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 18.75px;
                                letter-spacing: 0.02em;
                                color: #3D3D3D;
                            }
                        }

                        .button_gradient {
                            margin-top: 23px;
                            max-width: 100% !important;
                        }

                        .consent_processing {
                            margin-top: 20px;

                            p {
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0.02em;
                            }

                            a {
                                color: #3CE800;
                                text-decoration: underline;
                            }
                        }
                    }



                }
            }
        }

        .triangles {
            margin-top: 80px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

    }

    .advantages {
        margin-top: 80px;
        
        .advantages_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                text-transform: uppercase;
                width: 100%;
                max-width: 852px;
                font-size: 48px;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0.02em;
                text-align: center;
                color: #3D3D3D;

                b {
                    color: #3CE800;
                }
            }

            .list {
                margin-top: 60px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 30px;

                li {
                    .card {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        box-shadow: 0px 0px 100px 0px #0000001A;
                        border: 2px solid #FFFFFF;
                        border-radius: 2px;
                        padding: 40px;
                        width: 100%;
                        max-width: 320px;

                        .body {
                            h3 {
                                color: #3D3D3D;
                                ;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 18.75px;
                                letter-spacing: 0.02em;
                            }

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 22px;
                                letter-spacing: 0.02em;
                                color: #808080;
                            }
                        }
                    }
                }
            }
        }
    }
}